---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = await getCollection("posts");
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
      <h2
        class="max-w-[60ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <SocialLinks />
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          ALgunos Proyectos ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Contacto</h3>
      </header>
      <p>Correo<Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        />
      </p>
      <p>Telefono: +58 4242532568</p>
      <a href="/curriculum/curriculumJesusPelayo.pdf" class="hover:text-neutral-100" download>Descargar Currículum</a>

      <SocialLinks />
    </article>
  </main>
</Layout>
